* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*https://colorhunt.co/palette/02152603346e6eacdae2e2b6*/

:root {
  interpolate-size: allow-keywords;
  --white: #fff;
  --black: #000;
  --dark-blue: #021526;
  --blue: #03346e;
  --light-blue: #6eacda;
  --accent: #e2e2b6;
  --fs-sm: clamp(0.833rem, 0.067vi + 0.82rem, 0.9rem);
  --fs-base: clamp(1rem, 0.125vi + 0.975rem, 1.125rem);
  --fs-md: clamp(1.2rem, 0.206vi + 1.159rem, 1.406rem);
  --fs-lg: clamp(1.44rem, 0.318vi + 1.376rem, 1.758rem);
  --fs-xl: clamp(1.728rem, 0.469vi + 1.634rem, 2.197rem);
  --fs-xxl: clamp(2.074rem, 0.673vi + 1.939rem, 2.747rem);
  --fs-xxxl: clamp(2.488rem, 0.945vi + 2.299rem, 3.433rem);
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

#main-overlay {
  position: absolute;
  inset: 0;
  background: var(--blue);
  z-index: 1000;
  animation-name: mainOverlayFade;
  animation-timing-function: linear;
  animation-delay: 0.2s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes mainOverlayFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
