*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*https://colorhunt.co/palette/02152603346e6eacdae2e2b6*/

:root{
    interpolate-size: allow-keywords;
    --white: #fff;
    --black: #000;
    --dark-blue: #021526;
    --blue: #03346E;
    --light-blue: #6EACDA;
    --accent: #E2E2B6;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}