main{
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
}

main *{
    outline: solid red 1px;
}

#introduction{
    background-color: var(--white);
    color: var(--blue);
    font-size: var(--fs-md);
    display: flex;
    flex-wrap: wrap;
    padding: 5cqmin;
}

#introduction > div{
    flex: 1 1 300px;
}

#introduction > div{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

#showcase_conf{
    display: flex;
    padding: 2cqmin;
    background-color: var(--dark-blue);
    color: var(--white);
    justify-content: space-between;
    align-items: center;
}

#showcase_conf > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: var(--fs-sm);
    padding-inline: 3dvw;
}

#showcase_conf > div > img{
    width: calc(var(--fs-xxxl)*3);
    background: var(--blue);
}

#showcase_parts{
    display: flex;
    padding: 2cqmin;
    background-color: var(--white);
    color: var(--blue);
    justify-content: space-between;
    align-items: center;
}

#showcase_parts > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: var(--fs-sm);
}

#showcase_parts> div > img{
    width: calc(var(--fs-xxxl)*3);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: var(--blue);
}

